.headerPaper{
    position: relative;
}

.titleContainer{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #3F51B5;
    border-radius: 5px 5px 0 0;
}
.titleBtn{
    position: absolute;
    top: 0;
    right: 5px;
}
.listTask{
    height: 200px;
    list-style: none;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden ;
}

.listTask::-webkit-scrollbar{
    width: 6px;
    background-color: #434343;
}
.listTask::-webkit-scrollbar-thumb{
    width:8px;
    background-image: -webkit-linear-gradient(#0a00f5, #8A8A8A);
}
.listTask::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border: 1px solid black;
    background-color: #0a00f5;
}



.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 15px 0;
}